@use '../../../style/colors';

.header {
  font-weight: 900;
  font-size: 24px;
  margin: 24px 0;
}

.day {
  &__header {
    font-weight: 700;
    font-size: 18px;
    margin: 24px 0 8px 0;
  }

  &__times {
    display: flex;
    flex-wrap: wrap;
  }

  &__showtime {
    width: 132px;
    margin-right: 18px;
    margin-bottom: 16px;
  }

  &__time {
    font-size: 48px;
    margin: 0;
  }

  &__price {
    color: colors.$text;
  }
}

div.day__showtime {
  color: colors.$link-disabled;
}

@media screen and (min-width: 768px) {
  .header {
    margin-top: 16px;
  }
}
