.wrap {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-bottom: 24px;
  padding-right: 36px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.row {
  display: flex;
  margin: auto;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}
