@use '../../../style/colors';

.wrap {
  margin-bottom: 24px;
  padding-right: 36px;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: colors.$text;
  color: colors.$text-input-text;
  width: 512px;
  margin-bottom: 16px;
  border-radius: 8px;
}

.row {
  display: flex;
  margin: auto;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}
