.date {
  display: block;
  margin: 24px 0;
  font-weight: 900;
  font-size: 24px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.leftCol {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
