$text: #e5e5e5;
$background: #000000;
$link: #e94435;
$link-hover: #ed695d;
$link-disabled: #7e7e7e;

$button-main: #e94435;
$button-text: #ffffff;

$seat-available: #e5e5e5;
$seat-available-text: #E94435;
$seat-disabled: rgba(230, 230, 230, .2);
$seat-disabled-text: rgba(230, 230, 230, .33);
$seat-selected: #177230;
$seat-selected-text: #e5e5e5;
