@use '../style/colors';

.button {
  font-family: Montserrat;
  background-color: colors.$button-main;
  color: colors.$button-text;
  padding: 15px 29px 14px 29px;
  border: none;
  border-radius: 7px;
}
