@use '../style/colors';

.button {
  font-family: Montserrat;
  background-color: colors.$button-main;
  color: colors.$button-text;
  padding: 15px 29px 14px 29px;
  border: none;
  border-radius: 7px;
  width: 300px;
  transition: color, background-color 0.33s ease-out;

  &:disabled {
    color: colors.$button-disabled-text;
    background-color: colors.$button-disabled;
  }
}
